.nav{
    grid-area:n;
    background-color:#12151F;
  
  }

.item a{
  color: aliceblue;
  text-decoration:none;
  font-size: 20px;
  
}

.item a.activelink{
  color: rgb(18, 240, 229);
  background-color:#12151F;
}

.nav img{
  width: 18px;
  position:relative;
  margin-right: 5px;
}

.item{
  margin-left: 30px;
  margin-top: 20px;
}