.app-wrapper{
  display: grid;
  grid-gap: 5px;
  width: 1200px;
  margin: auto; /*для оцентровки всего контента*/
  font-family: 'Lato', sans-serif;
  
 

  grid-template-areas:
  "h h"
  "n  c";

  grid-template-rows:1fr 10fr;
  grid-template-columns:200px  20fr;

}


.app-wrapper-content{
  grid-area:c;
  background:#12151F;
  color:#05F4B7;
  font-family: 'Lato', sans-serif;
  

}


