.app-wrapper{
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-gap: 2                                                                                                                px;

  grid-template-areas:
  "h h"
  "n  c";

  grid-template-rows:1fr 10fr;
  grid-template-columns:200px  10fr;
  

}

.header img{
  width:70px;
}

.header{
  grid-area: h;
  background-color:#12151F;

}

.nav{
  grid-area:n;
  background-color:#12151F;

}

.content{

grid-area:c;
background:#12151F;

}

.content img{
  height: 400px;
  width: 1200px;
}

.content{
  color:#05F4B7;
}